.content-container1 {
  display: grid;
  grid-template-areas:
    " title "
    " main ";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
  min-height: 100vh;
  min-width: 100vw;
  transition: margin-left 0.3s ease;
}

.content-container2 {
  display: grid;
  grid-template-areas:
    "title title"
    "sidebar main";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 252px 1fr;
  min-height: 100vh;
  min-width: 100vw;
}

nav {
  position: relative;
  float: left;
  background-color: rgba(47, 85, 107, 1);
  width: 247px;
  height: 100%;
  padding: 0%;
  margin: 0%;
  grid-area: sidebar;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  display: none;
  border-right: 5px solid black;
}

.nav.open {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

#title {
  position: relative;
  background-color: darkolivegreen;
  width: 100%;
  height: 75px;
  grid-area: title;
  display: grid;
  grid-template-areas:
    "menu name welcome";
  grid-template-columns: 60px auto 60px;
  background-image: linear-gradient(to right, darkolivegreen, #000000);
  border-bottom: 5px solid black;
}

#title h1 {
  position: relative;
  text-align: center;
  padding: 0%;
  margin: 0%;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 36pt;
  line-height: 75px;
  text-decoration: underline;
  justify-content: center;
}

.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  margin: 6px 0;
  transition: 0.4s;
}

#menu {
  margin-top: 7px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#menu-button {
  margin-top: 15px;
  border: 0px;
  cursor: pointer;
}

.search-button {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  align-content: center;
}

.search-button .icon {
  display: inline-block;
  width: 35px;
  height: 30px;
  background-image: url('../public/mgicon.png');
  /* Replace with your icon image */
  background-size: cover;
  margin-left: 10px;
  margin-bottom: 10px;
}

.search-box {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.go button {
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: whitesmoke;
  font-size: 15pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
}

#curr-notifs {
  background-color: rgb(36, 48, 16);
  padding: 2.5% 0;
  margin: 2.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#curr-notifs dt {
  background-color: whitesmoke;
  padding: 2.5% 2.5%;
  margin: 2.5% 2.5% 0 2.5%;
  text-decoration: underline;
  font-weight: bold;
}

#curr-notifs dd {
  background-color: whitesmoke;
  padding: 0 2.5%;
  margin: 0 2.5%;
  min-height: 25px;
  max-height: auto;
}

main {
  position: relative;
  background-color: rgba(107, 85, 47, 1);
  width: 100%;
  height: 100%;
  padding: 0%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-area: main;
}

.grid-contain {
  height: 98%;
  margin: 1%;
  display: grid;
  gap: 1%;
}

#main-show {
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 50%;
  /*???*/
}

#graph-show {
  padding: 0%;
  margin: 0 auto;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#floor-select {
  padding: 0%;
  margin: 0;
  background-color: rgb(36, 48, 16);
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 128px;

}

#floor-select dl {
  padding: 0%;
  margin: 2px auto;
  width: 75%;

}

#floor-select dt {
  margin: 2px 2px;
  height: 40px;
  background-color: whitesmoke;
  font-size: 18pt;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}

#floor-select dt:hover {
  background-color: aqua;
  cursor: pointer;
}

#room-graph-show {
  padding: 0%;
  margin: 0 auto;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

#room-show {
  padding: 0%;
  margin: 0 auto;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  overflow: auto;
}

#room-show h1{
  padding: 0;
  margin: 0;
  text-align: center;
}

#room-show p {
  margin:0;
  text-align: center;
  font-size: 16pt;
}

#room-show table{
  width:80%;
  margin: 0 auto;
  font-size: 18pt;
  text-align: center;
}

#room-show th{
  background-color: gainsboro;
  width: 50%;
}

#room-show h1{
  padding: 0;
  margin: 0;
  text-align: center;
}

#room-show p {
  margin:0;
  text-align: center;
  font-size: 16pt;
}

#room-show table{
  width:80%;
  margin: 0 auto;
  font-size: 18pt;
  text-align: center;
}

#room-show th{
  background-color: gainsboro;
  width: 50%;
}

#login-panel {
  background-color: whitesmoke;
  width: 100%;
  height: 99%;
  grid-row-start: 1;
  grid-row-end: 2;
}

#register-panel {
  background-color: whitesmoke;
  width: 100%;
  height: 99%;
  grid-row-start: 2;
  grid-row-end: 3;
}

#top-set {
  padding: 0%;
  margin: 0%;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  gap: 1%;
}

#new-notif {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
}

#mini-map {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
}

#full-list {
  background-color: whitesmoke;
  width: 100%;
  height: 98%;
  overflow: scroll;
}

#full-list dt {
  text-decoration: underline;
  font-weight: bold;
  border-top: 2px solid rgb(8, 65, 26);
  padding: 5px;
}

.general-panel {
  padding: 0%;
  margin: 1%;
  background-color: whitesmoke;
  width: 98%;
  height: 98%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.general-panel h1 {
  padding: 0%;
  margin: 0%;
  text-align: center;

}

.general-panel p {
  margin: 0 5px;
}

input {
  width: 100%;
  border: 2px solid rgb(71, 111, 60);
  border-radius: 2px;
}

input[type=submit] {
  background-color: rgb(71, 111, 60);
  color: whitesmoke;
  font-size: 12pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid whitesmoke;
  border-radius: 3px;
  padding: 5px;
  margin: 3px 0;
}

select {
  width: 100%;
  border: 2px solid rgb(71, 111, 60);
  border-radius: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#new-notif fieldset {
  height: 92.5%;
}

#login-panel fieldset {
  height: 92.5%;
}

#register-panel fieldset {
  height: 92.5%;
}

legend {
  font-weight: bold;
}

button {
  position: relative;
  background: rgba(47, 85, 107, 1);
  color: whitesmoke;
  font-size: 12pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  width: 100%;
  height: 10%;
  border: none;
}

button:hover {
  position: relative;
  background: rgba(47, 85, 107, 0.8);
  color: whitesmoke;
  font-size: 12pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  width: 100%;
  height: 10%;
}

.sidebar-button {
  position: relative;
  background: rgba(47, 85, 107, 1);
  color: whitesmoke;
  font-size: 12pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  width: 100%;
  height: 10%;
  border: none;
}

.sidebar-button:hover {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  color: whitesmoke;
  font-size: 12pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  width: 100%;
  height: 10%;
}