#root {
  display: grid;
  grid-template-areas:
    "title "
    "content";
  grid-template-columns: 1fr; /* Adjust as needed */
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
  background: rgb(34, 36, 50);
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.map-container {
  position: relative;
  width: 85%;
  height: 80%;
  background: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #966f33;
}

#title {
  background-color: rgb(34, 36, 50);
  grid-area: title;
  display: grid;
  grid-template-areas: "menu name welcome";
  width: 250px;
}

.prev-button {
  background-image: url("../public/downarrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.next-button {
  background-image: url("../public/uparrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cycle-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#title h1 {
  position: relative;
  text-align: center;
  padding: 0%;
  margin: 0%;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 30pt;
  line-height: 75px;
  justify-content: center;
}

.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  margin: 6px 0;
  transition: 0.4s;
}

#menu {
  margin-top: 7px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#menu-button {
  margin-top: 15px;
  border: 0px;
  cursor: pointer;
}

.chart {
  background-image: url("../public/cork.png");
  position: relative;
  width: 90%;
  height: 50%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #966f33;
}

main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  grid-area: content;
  background-color: whitesmoke;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform: translateX(250px);
  width: calc(100% - 250px);
}

main.open {
  transition: transform 0.3s ease;
  transform: translateX(0px);
  width: 100%;
}

.room-trends {
  justify-content: start;
}

.trend-container {
  height: 100%;
  width: 100%;
}

nav {
  background-color: rgb(34, 36, 50);
  width: 250px;
  padding: 0%;
  margin: 0%;
  grid-area: content;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  display: none;
}

.nav.open {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

#graph-show {
  width: 90%;
  height: 50%;
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  gap: 5.5%;
  justify-content: left;
  align-items: center;
  font-size: 36pt;
}

input {
  width: 20px;
  border: 2px solid rgb(71, 111, 60);
  border-radius: 2px;
}

input[type="submit"] {
  background-color: rgb(71, 111, 60);
  color: whitesmoke;
  font-size: 12pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid whitesmoke;
  border-radius: 3px;
  padding: 5px;
  margin: 3px 0;
}

button {
  position: relative;
  background: rgba(47, 85, 107, 1);
  color: whitesmoke;
  font-size: 12pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  height: 10%;
  border: none;
}

button:hover {
  background: rgba(47, 85, 107, 0.8);
}

.sidebar-button {
  position: relative;
  margin: 5px 0;
  background: rgba(34, 36, 50, 0);
  color: whitesmoke;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  width: 94%;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-button:hover {
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  color: whitesmoke;
  font-size: 19pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}

/* Container styling */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Login box styling */
.login-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* General button styling */
.sso-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Specific styling for Google button */
.sso-button.outlook {
  background-color: #4285f4;
  color: white;
}

.sso-button.outlook:hover {
  background-color: #357ae8;
}

/* Specific styling for Facebook button */
.sso-button.facebook {
  background-color: #3b5998;
  color: white;
}

/* Icon styling */
.sso-icon {
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  margin-right: 10px;
  object-fit: contain; /* Ensure image maintains its aspect ratio */
}

/* Additional styling */
.sso-button span {
  display: inline-block;
  vertical-align: middle;
}

.account-page {
  padding: 20px;
}

.acount-container {
  max-width: 800px;
  margin: 0 auto;
}

.user-info {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info h2 {
  margin-bottom: 15px;
}

.user-info p {
  margin: 10px 0;
}

.notifications {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notifications h2 {
  margin-bottom: 15px;
}

.notifications-list {
  max-height: 300px;
  overflow-y: auto;
}

.notification-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.notification-row p {
  margin: 0 10px;
}

.update-button,
.delete-button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.update-button {
  background-color: #007bff;
  color: #fff;
  margin-right: 10px;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
}

.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
}

.about-us-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.about-us-box h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.about-us-box p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.team-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.team-list li {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}
